// colors 
$primary-color:#0E8784;
$dark-color:#333D4B;
$secondary-color:#FDD6BA;
$light-color:#FEFCF7;
$gray-color:#83888F;

// hover color
$primary-hover:#66D2CF;

// active color
$primary-active:#E2DEDB;

// fonts
$title-font:"Fraunces","Georgia" ,serif;
$text-font:"Barlow","Arial" ,sans-serif ;