.sitenav{
    @include responsive (phone){
        display: none;
    }

    &__list{
        display: flex;
        align-items: center;
        gap: 3.2rem;
    }
    &__link{
        color: $gray-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.25;
        letter-spacing: 0.92px;


        &:hover{
            color: $primary-color;
            text-decoration: underline;
        }
        &:active{
           opacity: 0.6;
        }
    }
}